<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/main.css"
    <title>404 Error</title>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            {{>header}}
            {{errorText}}
            {{results}}
            {{>footer}}
        </div> <!-- end of container DIV -->
    </div> <!-- end of wrapper DIV -->
</body>
</html>