<div id=nav></div>
<!--<div class="separator"></div>-->
<script>
      console.log('hi')
      const check = localStorage.getItem('token')
      if(check) { 
            document.querySelector('#nav').innerHTML = 
      `<ul id="nav">
      <li><a href="/createtask">Tasks</a></li>
      <li><a href="/changedetails">Profile</a></li>
      <li><a id="logout">Logout</a></li>
      <li><a href="#" id="logout-all">Logout All</a></li>
      </ul>`
      }

      document.querySelector('#logout').addEventListener('click', () => {
            console.log(getFromPromisewithToken)
      const token = JSON.parse(localStorage.getItem('token'))
      getFromPromisewithToken(endpoints.usersLogout, token)
    .then((response) => {
        console.log(response)
        localStorage.clear()
    }).catch((e)=>{
        console.log(e)
    })
})

document.querySelector('#logout-all').addEventListener('click', ()=>{
    const token = JSON.parse(localStorage.getItem('token'))
    getFromPromisewithToken(endpoints.usersLogoutAll, token)
    .then((response) => {
        console.log(response)
        localStorage.clear()
    }).catch((e) => {
        console.log(e)
    })
})
</script>

<script src="../js/requests.js"></script>