* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
.wrapper {
    padding: 20px;
    /* border: red solid 1px; */
}
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50vw;
    justify-content: center;
    /* border: solid black 1px; */
    padding: 10px;
}

/* h2 {
    text-align: center;
} */

input {
    display:block;
    margin: 12px 0px;
    height: 20px;
    width: 40vw;
    font-size: 1rem;
    border: 1px solid rgb(214, 213, 213);
    padding: 2px 4px;
    border-radius: 5px;
}
#input-task-title {
    padding: 2px 10px;
}

button {
    margin: 10px 0px;
    padding: 5px 10px;
    border-style: none;
    font-size: 14px;
    /* border-radius: 5px */
    background: rgba(189, 181, 181, 0.3);
}

button:hover {
   background: lightgray;
}

/* label {
    margin-bottom: 200px;
} */

h2 {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    /* background: rgb(238, 238, 238); */
    background: rgba(219, 219, 243, 0.2);
    padding: 3px 6px;
    border-radius: 5px;
}

a:hover {
    /* background: white; */
    background: rgba(219, 219, 243, 0.6);
    padding: 3px 6px;
    border-radius: 5px;   
}

#copyright, #credits {
    font-size: 10px;
    color: blue;
    margin-top: 20px;
    text-align: center;
}

#credits {
    color: black;
}

.separator {
    height: 10vh;
}

p {
    text-align: center;
}

textarea {
    display:block;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    border: lightgrey 1px solid;
    width: auto;
    box-sizing: border-box;
    /* width: 80%;
    height: 50%; */
    width: 40vw;
    height: 10rem;
}

input[type='checkbox'] {
    display: inline;
    margin-left: 10px;
}
